<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
        <title>Главная страница</title>
    </head>
    <body>
        <form action="{{ url_for('addEmp')}}"> 
            <button class="btn btn-primary">Страница добавления работника</button><br><br>
        </form>
        <form action="{{ url_for('getEmp')}}"> 
            <button class="btn btn-primary">Страница для проверки работника</button><br><br>
        </form>
        <form action="{{ url_for('addReq')}}"> 
            <button class="btn btn-primary">Страница добавления запроса</button><br><br>
        </form>
        <form action="{{ url_for('getRequest')}}"> 
            <button class="btn btn-primary">Вернуть список запросов</button><br><br>
        </form>
        <form action="{{ url_for('proReq')}}"> 
            <button class="btn btn-primary">Обработка запросов</button><br><br>
        </form>
        <form action="{{ url_for('getHome')}}">
            <button class="btn btn-primary">Вернуть список домов</button><br><br>
        </form>
    </body>
</html>